*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --color-primary: #FFFFFF;
  --color-grey: #F5F5F5;
}

html {
    scroll-behavior: smooth;
}

html, 
body {
    height: 100%;
}

body {
    background-color: #FFFFFF;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    /* font-weight: 500; */
    line-height: initial;
}

.my_navbar {
    width: 100%;
}

.my_navbar nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 63px;
  background-color: var(--color-grey);
  font-family: 'Inter', sans-serif;
  box-shadow: rgba(95, 95, 95, 0.205) 0px 3px 6px;
}

.nav-links a:hover {
  display: inline-block;
  position: relative;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #2A2A2A;
  transform-origin: bottom left;
  transition: transform 0.25s ease-in;
}

.nav-links a:hover::before {
  transform: scaleX(1);
}

.logo{
  color: #2A2A2A;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 100px;
}

.logo a{
  color: #2A2A2A;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-bottom: 0;
  /* margin-right: 100px; */
}

.nav-links a {
  color: #4B4B4B;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: .5em;
  font-size: 1rem;
  /* text-align: right; */
}

.nav-links, .logout li{
  list-style: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1440px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }
}

@media screen and (max-width: 1040px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 970px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 5vh;
    background-color: var(--color-primary);
    border-bottom-left-radius: 10px;
    display: inline-block;
    align-items: center;
    margin-top: 20px;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .logo {
    padding-left: 50px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.title_header {
    font-size: 3.4375rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #2A2A2A;
    text-align: left;
    /* margin-top: 80px; */
}

.title_text {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #616161;
    text-align: left;
    margin-top: 20px;
    width: 500px;
    max-width:100%;
}

.content_container {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.contact {
    margin: 1rem;
    line-height: initial;
}

.contact_container {
    width: 400px;
    max-width: 400px;
    padding: 0.8rem;
    box-shadow: rgba(95, 95, 95, 0.205) 0px 3px 6px;
    border-radius: 20px;
    background: var(--color-grey);
    margin-top: 50px;
}

.contact_item {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    clear: both;
}

.info {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #2A2A2A;
  text-align: left;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 0;
  /* float: left; */
}

.header {
    font-size: 1.375rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #2A2A2A;
    /* float: left; */
    text-align: left;
    margin-top: 10px;
}

.contact_header {
    font-size: 1.875rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #2A2A2A;
    text-align: left;
}

.wrapper {
    position: relative;
    margin-top: 5%;
    height: 100%;
}

.my_text {
    display: block;
    position: relative;
    float: left;
    /* top: -25%; */
    /* 
    transform: translateY(-50%); */
    /* margin-left: 10%; */
}

.background {
    background-color: var(--color-grey);
    width: auto;
    height: auto;
    position: relative;
    margin-top: 100px;
    left: 0;
    /* height: 6544px; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: center;
}

.model_container {
    /* position: absolute; */
    margin-top: 45px;
    /* min-height: 80%; */
    background-color: #FFFFFF;
    border-radius: 60px;
    border: 1px solid #86868642;
    width: fit-content;
    height: fit-content;
    padding-bottom: 45px;
    margin-bottom: 60px;
    /* justify-content: center; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-auto-flow: column; */
}

#photos {
    height: auto;
    width: auto;
    margin-top: 10px;
    z-index: 1;
}

.photo_gallery {
    padding: 30px 30px 30px 30px;
    margin-top: 45px;
    /* min-height: 80%; */
    background-color: #FFFFFF;
    border-radius: 60px;
    border: 1px solid #86868642;
    width: fit-content;
    height: fit-content;
    margin-bottom: 60px;
}

.model_grid {
  width: 100%;
  display: grid;
  column-gap: 30px;
  row-gap: 40px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.model_header {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    margin-top: 3%;
    padding-left: 45px;
    color: #000000;
    font-size: 3.125rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    /* grid-auto-rows: 70px; */
}

.model_year {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    color: #707070;
    padding-left: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5625rem;
    /* grid-auto-rows: 60px; */
    margin-bottom: 20px;
    margin-top: 45px;
}

.model_item {
    box-shadow: #0000001f 0px 10px 6px;
    height: 470px;
    width: 372px;
    border-radius: 20px;
    border: 1px solid #a5a5a5b6;
    overflow: hidden;
    position: relative;
    /* grid-auto-rows: 460px; */
}

.model_item img {
    position: relative;
    height: 55%;
    width: 100%;
}

.model_info {
    position: relative;
    margin-left: 3%;
    padding: 15px 15px 10px 5px;
    margin-top: 20px;
    /* top: 60%;*/
}

.model_info h2 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #5f5f5f;
}

.model_info p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.model_buttons {
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    bottom: 7%;
}

.model_buttons a {
    /* position: relative; */
    text-decoration: none;
    /* margin-top: 20px;
    margin-left: 3%;*/
    padding: 6px 10px;
    border-radius: 40px;
    background-color: #707070;
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-left: 17px;
    display: block;
    float: left;
    width: 101px;
    text-align: center;
}

@media (min-width: 250px) {
  .model_grid { grid-template-columns: repeat(1, 1fr); }
  .model_header { font-size: 1.6rem; margin-top: 5%;}
}

@media (min-width: 800px) {
  .model_grid { grid-template-columns: repeat(2, 1fr); }
  .model_header { font-size: 3.125rem; margin-top: 3%;}
}

@media (min-width: 1300px) {
  .model_grid { grid-template-columns: repeat(3, 1fr); }
  .model_header { font-size: 3.125rem; margin-top: 3%;}
}

/* .contact {
    position: absolute;
    top: 50%;
}  */

